/*
@media (max-width:1250px){
    .wrap {
        width: 90%;
        margin: 0 auto;
    }

    #cards {
        width: 17%;
        margin: 1.2%;
    }

    #aside {
        margin-right: 8%;
    }

    #articles {
        width: 54%;
        margin-left: 5%;
    }

    #footer .wrap div {
        width: 24%;
    }*/

/* Mobile devices */

@media (max-width: 480px) {
  /* Styles for screens up to 480px wide */
  .wrap {
    width: 94%;
  }

  #logo {
    width: 14%;
    margin-left: -8px;
    height: 2%;
  }

  #logo .gear {
    font-size: 15px;
  }

  #logo h3 {
    display: none;
  }

  #banner h1 {
    width: auto;
    font-size: 25px;
  }

  #cards {
    width: 18%;
    margin: 2px;
    height: 150px;
  }

  #cards .icon {
    font-size: 25px;
    height: 91px;
  }

  #cards h2 {
    font-size: 19px;
  }

  #cards .description {
    display: none;
  }

  #lateral {
    float: none;
    width: 89%;
    margin-right: 7%;
    margin-left: 4%;
  }

  #articles {
    width: 30rem;
    margin-left: auto;
    margin-top: -160px;
  }
}

@media (max-width: 1254px) {
  .wrap {
    width: 87%;
  }

  #cards {
    width: 18%;
    margin: 10px;
  }

  #lateral {
    margin-right: 8%;
  }

  #articles {
    width: 61%;
  }

  #footer .wrap {
    width: 97%;
  }
}

@media (max-width: 1241px) {
  #cards {
    width: 17%;
  }
  #cards .category {
    font-size: 17px;
  }

  #cards .description {
    font-size: 14px;
  }
}

@media (max-width: 1225px) {
  #articles {
    width: 60%;
  }
  #footer .wrap {
    width: 98%;
  }
}

@media (max-width: 1187px) {
  #articles {
    width: 59%;
  }
  #lateral {
    width: 25%;
  }

  #footer .wrap {
    width: 102%;
  }
}

@media (max-width: 1000px) {
  #articles {
    width: 58%;
  }
  #footer .wrap > div {
    width: 25%;
  }
}

@media (max-width: 942px) {
  #footer .wrap > div {
    width: 23%;
  }
}